@use "vars" as *;
@use "sass:color";

a:link,
a:visited {
  text-decoration: none;
  color: $red;
}

footer {
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.5;
}

h1,
h2,
h3 {
  font-family: $heading-font;
}

body {
  background-color: $base;
  background-image: linear-gradient(
    transparent 65%,
    color.adjust($color: $red, $alpha: -0.9)
  );
}
